{% load static %}
       <footer id="footer">

            <!--    Contact    -->

            <!--    Google map, Social links    -->
            <div class="section" id="contact">
                <div id="googleMap"></div>
                <div class="footer_pos">
                    <div class="container">
                        <div class="footer_content">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <h4 class="footer_ttl footer_ttl_padd">about us</h4>
                                    <p class="footer_txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries but also the leap into electronic typesetting. </p>
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <h4 class="footer_ttl footer_ttl_padd">working hours</h4>
                                    <div class="footer_border">
                                        <div class="week_row clearfix">
                                            <div class="week_day">Monday</div>
                                            <div class="week_time text-right">Closed</div>
                                        </div>
                                        <div class="week_row clearfix">
                                            <div class="week_day">Tuesday</div>
                                            <div class="week_time">
                                                <span class="week_time_start">10 am</span>
                                                <span class="week_time_node">-</span>
                                                <span class="week_time_end">12 am</span>
                                            </div>
                                        </div>
                                        <div class="week_row clearfix">
                                            <div class="week_day">Wednsday</div>
                                            <div class="week_time">
                                                <span class="week_time_start">10 am</span>
                                                <span class="week_time_node">-</span>
                                                <span class="week_time_end">12 am</span>
                                            </div>

                                        </div>
                                        <div class="week_row clearfix">
                                            <div class="week_day">Thursday</div>
                                            <div class="week_time">
                                                <span class="week_time_start">10 am</span>
                                                <span class="week_time_node">-</span>
                                                <span class="week_time_end">12 am</span>
                                            </div>

                                        </div>
                                        <div class="week_row clearfix">
                                            <div class="week_day">Friday</div>
                                            <div class="week_time">
                                                <span class="week_time_start">10 am</span>
                                                <span class="week_time_node">-</span>
                                                <span class="week_time_end">12 am</span>
                                            </div>

                                        </div>
                                        <div class="week_row clearfix">
                                            <div class="week_day">Saturday</div>
                                            <div class="week_time">
                                                <span class="week_time_start">7 am</span>
                                                <span class="week_time_node">-</span>
                                                <span class="week_time_end">1 am</span>
                                            </div>
                                        </div>
                                        <div class="week_row clearfix">
                                            <div class="week_day">Sunday</div>
                                            <div class="week_time">
                                                <span class="week_time_start">7 am</span>
                                                <span class="week_time_node">-</span>
                                                <span class="week_time_end">1 am</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <h4 class="footer_ttl footer_ttl_padd">contact us</h4>
                                    <div class="footer_border">
                                        <div class="footer_cnt">
                                            <i class="fa fa-map-marker"></i>
                                            <span>Your City, Your streert, 18765, 100 Tenth Avenue, New York City, NY 1001</span>
                                        </div>
                                        <div class="footer_cnt">
                                            <i class="fa fa-phone"></i>
                                            <span>(457) 570 5682; (385) 620 756</span>
                                        </div>
                                        <div class="footer_cnt">
                                            <i class="fa fa-envelope"></i>
                                            <span>info@butazzopizza.net</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="copy_text">
                                        <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="social-links">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="javascript:;" title="">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:;" title="">
                                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:;" title="">
                                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:;" title="">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>